html {
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header.background-image {
  opacity: 0.3;
}
header{
  background-image: url('iStock_84862873_LARGE.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(238, 238, 238, 0.4);
  background-blend-mode: color;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
/*body{

}*/



h1 {
    text-align: center;
    font-family: arial, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: 0px 2px 4px rgba(0,0,0,.4);
}

h5 {
  text-align: center;
  font-family: arial, sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 2px 4px rgba(0,0,0,.4);
}

#recipePic, #ingredientsPic, #preparationPic{
  width: 60px;
  height: 60px;
}

#recipeNameColumn:hover .imgDescription, #ingredientsColumn:hover .imgDescription, #preparationColumn:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

#recipeNameColumn p, #ingredientsColumn p, #preparationColumn p {
  bottom:30px;
  left:0px;
  visibility:hidden;
}

.table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    /* background-color: */
    /* background-color:cadetblue; */
    color: white;
}

.hover:hover {
    transform: scale(1.5);
}

.button1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 2%;
  color: white;
  transition: all 0.3s;
  position: relative;
}

.button2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 60px;
  cursor: pointer;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 40%;
  margin-right: 40%;
  transition: all 0.3s;
  position: relative;

}

.button1 span, .button2 span {
    transition: all 0.3s;
}

.button1::before, .button2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.button1:hover span, .button2:hover span {
    letter-spacing: 2px;
}

.button1:hover::before, .button2:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.button1::after, .button2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.button1:hover::after, .button2:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


.form {
    display: none;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left: 40%;
    margin-right: 40%;
    overflow: hidden;
    float: bottom;
    margin-top: 80px;
    /* border-color: #FF4500; */
    border-color: darkcyan;
    border-style: solid;
    border-width: 2px;

}

textarea{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*
input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

*/

#bt{
    margin-bottom: 5px;
    margin-top: 5px;
}
